/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(92, 92, 92);
}

h4{
    display:inline-block;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #33296d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
    color: #fff;
    background: #33296d;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}



ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* background-image: url("../Images/me.jpeg");
    background-repeat: no-repeat;*/
}

#content button{
color: #ddd;
background: #33296d !important;
outline: #33296d  !important;

}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: block;
    margin: 0 auto;
  }
  div.container {
    text-align: center;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
  }

img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height:100%;
    }

    .material-icons {
        padding: 10px;
        font-size: 40px;
        width: 40px;
        text-decoration: none;
        margin: 5px 80px;
    }
  
    .facebook {
        background: #1d469e;
        color: white;
    }
    .Twitter {
        background: #1490ca;
        color: white;
    }
    .LinkedIn {
        background: #3f5d9c;
        color: white;
    }
    .Instagram {
        background: #643f07;
        color: white;
    }



    .slider {
        width: 700px;
        height: 500px;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .image-container {
        width: 1500px;
        background-color: pink;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 4s;
        -moz-transition: left 4s;
        -o-transition: left 4s;
        transition: left 4s;
      }





      #slider {
        position: relative;
        width: 550px;
        height: 375px;
        overflow: hidden;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        margin:0 auto;
      }
      #slider ul {
        position: relative;
        list-style: none;
        height: 100%;
        width: 10000%;
        padding: 0;
        margin: 0;
        transition: all 750ms ease;
        left: 0;
      }
      #slider ul li {
        position: relative;
        height: 100%;
       
        float: left;
      }
      #slider ul li img{
        width: 550px;
        height: 375px;
      }
       
      #slider #prev, #slider #next {
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        font-size: 2rem;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        text-align: center;
        color: white;
        text-decoration: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 150ms ease;
      }
      #slider #prev:hover, #slider #next:hover {
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow: 0;
      }
      #slider #prev {
        left: 10px;
      }
      #slider #next {
        right: 10px;
      }